*{
    background-color: grey;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------GRID----------*/

.grid {
    display: flex;
    flex-wrap: wrap; /* Wrap the items onto multiple lines */
    height: 500px;
    width: 500px;
    padding: 200px;
}

.grid-squares {
    background-color: lightgray;
    border: 1px solid gray;
    box-sizing: border-box; /* Include borders in width/height */
}