*{
    background-color: grey;
}

body{
    display: flex;
    flex-direction: column;
}

/*---------CONTAINER--------*/
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

}



/*--------GRID----------*/

.grid {
    display: flex;
    flex-wrap: wrap; /* Wrap the items onto multiple lines */
    height: 500px;
    width: 500px;
}

.grid-squares {
    background-color: lightgray;
    border: 1px solid gray;
    box-sizing: border-box; /* Include borders in width/height */
    border-radius: 1.8mm;
}
